@{
    ViewBag.Title = "Контакты";
}

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

<aside>
    <h3>Как нас найти:</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1101.9761090545119!2d84.97459445!3d56.46858419999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43269348e2799ad3%3A0x9e6aa5a8fe0e5299!2z0JTQtdGC0YHQutCw0Y8g0J_QvtC70LjQutC70LjQvdC40LrQsCBOIDEg0JTQtdGC0YHQutCw0Y8g0JPQvtGA0L7QtNGB0LrQsNGPINCR0L7Qu9GM0L3QuNGG0LAgTiAx!5e0!3m2!1sru!2sru!4v1433678290674" width="600" height="450" frameborder="0" style="border:0"></iframe>
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2201.3195171995367!2d84.9862689!3d56.513926999999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x432693a57f7d6adb%3A0x6058a90b18a7f249!2z0YPQuy4g0JjQvdGC0LXRgNC90LDRhtC40L7QvdCw0LvQuNGB0YLQvtCyLCA2LCDQotC-0LzRgdC6LCDQotC-0LzRgdC60LDRjyDQvtCx0LsuLCA2MzQwNTk!5e0!3m2!1sru!2sru!4v1427990760066" width="600" height="450" frameborder="0" style="border:0"></iframe>*@
</aside>

    <section class="contact">
        <header>
            <h3>Регистратура</h3>
        </header>
        <p style="font-size: 20px">
            <span class="label">Приемная:</span>
            <span>(3822) 47-31-24</span>
            <span>(3822) 47-31-22</span>
        </p>
        <p style="font-size: 20px">
            <span class="label">Вызов врача на дом:</span>
            <span>(3822) 47-24-74</span>
        </p>

        <h3>Почта</h3>
        <p style="font-size: 20px">
            <span class="label">Справочная:</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p style="font-size: 20px">
            <span class="label">Заведующий:</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p style="font-size: 20px">
            <span class="label">Регистратура:</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>

        <h3>Время работы:</h3>
        <p style="font-size: 20px">
            пн-пт 8:00 - 20:00<br />
            Дежурный терапевт:<br />
            сб 9:00 - 18:00 <br />
        
        </p>
    </section>

