<h2>Муниципальное бюджетное учреждение здравоохранения «Поликлиника №56»</h2>


<br />

<p><b>ОГАУЗ «Поликлиника №56»</b> является некоммерческой организацией, созданной для выполнения работ и оказания услуг в целях осуществления предусмотренных действующим законодательством полномочий в сфере здравоохранения.</p>

<br />

<p>
    <b>Место нахождения и почтовый адрес ОГАУЗ «Поликлиника №56»:</b>
    <br />
    Россия, 634041, Томская область, г. Томск, пр. Ленина, 51.
</p>

<br />

<p>
    <b>Дата государственной регистрации:</b>
    <br />
    3 февраля 1994 года. Основной государственный регистрационный номер для юридического лица (ОГРН): 1027000865253 от 24.09.2002.
</p>

<br />

<p>
    <b>Учредитель:</b>
    <br />
    Учредителем ОГАУЗ «Поликлиника №56» является Томская область. 	
    От имени Томской области, функции и полномочия учредителя Учреждения осуществляют: 	
    1. Администрация Томской области. 	
    2. Департамент здравоохранения Томской области. 	
    3. Уполномоченный областной орган по управлению областным государственным имуществом.
</p>

<br />

<p>
    <b>Структура и органы управления ОГАУЗ «Поликлиника №56»:</b>
    <br />
    1. Департамент здравоохранения Томской области. 
    2. Наблюдательный совет ОГАУЗ «Поликлиника №56». 
    3. Исполнительный орган и высшее должностное лицо ОГАУЗ «Поликлиника №56» - главный врач Музеник Анатолий Юрьевич. 	
    К компетенции главного врача относятся вопросы осуществления руководства деятельностью поликлиники, за исключением вопросов, отнесенных федеральными законами, областными правовыми актами Томской области к компетенции Учредителя ОГАУЗ «Поликлиника №56».
</p>

<br />
