<h2> Информация о льготном лекарственном обеспечении</h2>

<p style="font-size: 20px"> Категории граждан, имеющих право на льготное лекарственное обеспечение:</p>

<p style="font-size: 20px">Федеральные льготники - (категории граждан, имеющие право на обеспечение необходимыми лекарственными препаратами за счет средств федерального бюджета (в соответствии с ФЗ от 17.07.1999 N 178-ФЗ "О государственной социальной помощи"):</p>

<p style="font-size: 20px">
    <ul style="font-size: 20px">
        <li> Инвалиды войны;</li>
        <li>Участники Великой Отечественной войны, ставшие инвалидами;</li>
        <li>Военнослужащие и лица ряд. и нач. состава ОВД, ставшие инвалидами при исполнении служебных обязанностей;</li>
        <li>Участники ВОВ;</li>
        <li>Ветераны боевых действий;</li>
        <li>Военнослужащие (тыловики);</li>
        <li>Блокадники;</li>
        <li>Члены семей погибших (умерших) инвалидов войны, участников ВОВ и ветеранов боев. действий;</li>
        <li>Члены семей погибших в ВОВ лиц из числа местной ПВО, работников госпиталей Ленинграда;</li>
        <li>Члены семей военных и лиц ряд. и нач. состава ОВД, погибших при исполнении служебных обязанностей;</li>
        <li>Члены семей военных, погибших в плену, признанных в установленном порядке пропавшими без вести;</li>
        <li>Родители и жёны военнослужащих, погибших вследствие ранения, контузии или увечья, полученных при защите СССР или исполнении обязанностей военной службы, либо вследствие заболевания, связанного с пребыванием на фронте;</li>
        <li>Инвалиды 1, 2 или 3 степени;</li>
        <li>Дети-инвалиды;</li>
        <li>Инвалиды, не имеющие ограничений к трудовой деятельности;</li>
        <li>Граждане, получившие или перенесшие лучевую болезнь в связи с катастрофой на ЧАЭС;</li>
        <li>Инвалиды ЧАЭС;</li>
        <li>Дети и подростки до 18 лет рожденные в зоне с льготным соц-эконом. статусом;</li>
        <li>Несовершеннолетние узники.</li>
        <li>Граждане, работавшие на военных объектах;</li>
    </ul>
</p>
